name: aal-deploy-frontend

on:
  pull_request:
    types:
      - closed
    branches:
      - main

jobs:
  docker-publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
      - name: Build image
        uses: ./.github/actions/docker-build-or-tag
        with:
          image-name: job-winner-ui
          dockerfile-dir: .
          app-id: ${{ secrets.GH_APP_ID }}
          private_key: ${{ secrets.GH_APP_PRIVATE_KEY }}

  update-deploy-repo-tag:
    needs:
      - docker-publish
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
      - name: Generate GitHub App token
        id: app-token
        uses: ./.github/actions/update-deployment-repo
        with:
          app_name: job-winner
          deployment_type: frontend
          app_id: ${{ secrets.GH_APP_ID }}
          private_key: ${{ secrets.GH_APP_PRIVATE_KEY }}
